@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Kaisei+Opti:wght@700&family=Outfit:wght@400;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/vogue');

@keyframes reveal {
    from {transform: translateY(-20vh);}
    to {transform: translateY(0vh);}
}

html {
    scroll-behavior: smooth;
}

body {
    margin:0;
    z-index: -1;
    font-family: 'Kaisei Opti', serif;
    
}

.container {    
    width: 100vw;   
    top:0px;
    left:0px; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
       
}

#content {
    position: relative;
    top:99vh;
    overflow: hidden;
}

h1 {
    position: absolute;
    width: 100vw;
    height:13vh;
    text-align: center;
    left:0px;
    padding-top: 2rem;
    font-family: 'Vogue', sans-serif;
    font-size: 4.5rem;
    font-weight: 500;
    color:white;
    background: rgb(30, 30, 30);
    mix-blend-mode: multiply;
    
}

/* #title-img {
    background-image: url(YoungWomannewTestEdit.png);
    position: relative;
    object-position: 25% 50%;
} */

#nav-bar{      
    width: 99vw;
    height: 15vh;
    padding: 0.5em;    
    position: sticky;
    top:0vh;    
    left:0; 
    background-image: url(pageImages/glitterBanner.png);
    background-position: center;
    object-fit: fill;
    display: flex;
    flex-direction: row;     
    align-items: center;
    z-index: 1;
    box-shadow: 0 1px 2px rgb(41, 40, 40);
    display:none;
      
    
}

/* #title-background img {
    width:100vw;
    height:25vh;
    position: absolute;
    object-fit: cover;
    transform: translateY(-90px);
    z-index: -1;
    
    
} */

#nav-bar.active {
    display: flex;
    animation: reveal 0.5s;
}

#logo img {
    position: relative;
    left:10px;
    width: 7vw;
    height:auto; 
    z-index: 2;
      
}

#menu-icon {
   position: absolute;
   top: 30px;
   right:50px;
   color: whitesmoke;
}


#banner img {
    position: absolute;
    top:0vh;
    width: 100vw;
    height: auto;
    
}


#menu:hover .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.nav-menu {
    display: none;
    position: absolute;    
    top: 50px;
    right: 60px;
    width: 12vw;
    height:40vh;
    /* padding: 5px; */
    justify-content: center;


    background-color:rgb(188, 188, 188);
    border-radius: 10px;
    box-shadow: 1px 2px rgb(33, 48, 37);
    opacity: 85%;    
}


.nav__list li {
    list-style: none;
}

.nav__item:hover {
    background-color: rgb(167, 166, 166);
    width:100%;
}

.nav__list a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: large;
}

.nav__list a:hover {    
    color: blueviolet;
    font-size: larger;
    transition: 0.2s; 
}



content {
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro {
    
    
    padding: 10%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    color: rgb(0, 0, 0);
    /* background-color: whiteblack; */
    /* z-index: -1; */

}

.quote {
    position: absolute;
    left: 25%;
    top:32%;
    font-size: 2.5rem;
    color:rgb(26, 26, 26);
    
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lashes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lashes img {
    position: relative;
    width:25vw;
    height:20vh;
    top: -20px;
    left: -50px;
}

#brows {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#brows img {
    width:50vw;
    height: 7vh;
}

#price-list {
    position: relative;
    width: 40vw;
    height:100vh;
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

#price-list h2 {
     position: relative;
    top:5px; 
} 

button {
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(205, 205, 206);
    border: 1.5px solid rgb(46, 44, 50);
}

/* #right {
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
    border: 2px solid black; 
}

#left {
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
    border: 2px solid black; 
} */

#gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    width: 75vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dimgray;
    border-radius: 1%;
    box-shadow: 1px 1px rgb(36, 34, 32);
    z-index: -1;
}

.slideshow {
    width:410px;
    height:410px;
    display: block;
}

.slideshow img {
    position: absolute;
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 5%;
}



.slideshow>* {
    opacity: 0;
    transition: opacity 2s;
}

.slideshow>*.active {
    opacity: 1;
}

button {
    height:30px;
    width: 40px;
}

#left {
    position: absolute;
    left:15vw;
}

#right {
    position: absolute;
    right:15vw;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:60vw;
    height:auto;
    padding: 2rem 2rem;
    margin: 1rem;
    background-color: chartreuse;
    background-image: url(pageImages/bliss-room.png);
    object-fit: cover;
    border-radius: 25px 25px;
}

.label {
    position: relative;
    left:-13rem;
}

#number {
    position: relative;
    left:-10.75rem;
}

#textBox {
    position: relative;
    left: -10.5rem;
}

.input {
    width:60%;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

#message {
    height:50px;
}

#form-submit {
    width:35%;
    height:30px;
    border-radius: 5px;
    border: 1px solid black;
}


footer {
    position: relative;
    bottom:-100vh;
    width: 100vw;
    height: 30vh;
    /* padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    background-image: url(pageImages/glitterBanner.png);
    object-fit: fill;
    /* background-color: coral; */
    filter: brightness(200%);
    overflow: hidden;
}

#mixEffect {
    position: relative;
    bottom:-20px;
    width: 94%;
    height: 20vh;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(12, 12, 12);
    mix-blend-mode: multiply;
    
}

#footer-social {
    position: relative;
    display: flex;
    flex-direction: column;   
    
} 

.footer__icon {
    /* width:100%;
    height:100%; */
    font-size: 2rem;
    color:  rgb(1, 255, 162);
    /* background: black;
    mix-blend-mode: multiply; */
}

.footer__icon:hover {
    transform: scale(120%);
    transition: 0.5s;
}

#footer-message {
    position: relative;
    top: -1rem;
    text-align: center;
    left:250px;
    font-size: 4rem;
    /* background-color: black; */
    color: rgb(1, 255, 162);
    mix-blend-mode:difference;
    
}

#footer-contact {
    position: relative;
    right:-300px;
    font-size: 1.15rem;
    /* background-color: black; */
    color:  rgb(1, 255, 162);
    /* mix-blend-mode: multiply; */
}


#footer-copy{
    position: relative;
    bottom: -50px;
    left:-500px;
    /* background-color: black; */
    color: white;
    /* mix-blend-mode: multiply; */
} 

