@keyframes spin {
    0% {
        transform-box: fill-box;
        transform-origin: center;
        transform: rotateY(0deg);
    }

    100% {
        transform-box: fill-box;
        transform-origin: center;
        transform: rotateY(360deg);
    }
}



.formcontainer {
    width:100vw;
    padding-left:25vw;
    padding-right:25vw;
}

form {
    display:flex;
    align-items: center;
    flex-direction: column;
}

.container {
    margin-top: 10vh;
    height: 25vh;
    width:100vw;
    display: flex;
    justify-content: center;
}

#button-submit {
    width:25%;
    position: relative;
    left: -37.5%;
}

.yellow {
    animation: spin 1.5s;
    fill: yellow;
}

.star:hover {
    fill: yellow;
}